body .hengam-product-price-wrapper .hengam-final-price {
    font-weight: 400!important;
    font-family: 'DM Sans';
}
.navtext {
    color: #000;
    opacity: 1 !important;
    font-weight: 400;
}

.ew-booking-page #Announcement--announcement-bar,
.ew-booking-page footer,
.ew-booking-page header,
.ew-booking-page-49 #Announcement--announcement-bar,
.ew-booking-page-49 footer,
.ew-booking-page-49 header,
.ew-free-consultation-booking-page #Announcement--announcement-bar,
.ew-free-consultation-booking-page footer,
.ew-free-consultation-booking-page header,
.ew-booking-confirmation #Announcement--announcement-bar,
.ew-booking-confirmation footer,
.ew-booking-confirmation header,
.ew-free-call-hmz #Announcement--announcement-bar,
.ew-free-call-hmz footer,
.ew-free-call-hmz header,
.ew-free-call-rb-v2 #Announcement--announcement-bar,
.ew-free-call-rb-v2 footer,
.ew-free-call-rb-v2 header,
.ew-free-call-rb-v1 #Announcement--announcement-bar,
.ew-free-call-rb-v1 footer,
.ew-free-call-rb-v1 header,
.ew-free-call #Announcement--announcement-bar,
.ew-free-call footer,
.ew-free-call header {
  display: none;
}

.ew-discount-button-image2-wrap {
  display: flex;
  align-items: flex-end;
}

.ew-discount-button-image2 {
  width: 200px;
  margin-right: 50px;
}

@media(min-width:769px) {
  .ew-discount-button-image {
    position: relative;
    top: -100px;
    right: -280px;
  }

  .ew-discount-button-image-text {
    width: 200px;
    margin-left: auto;
    position: relative;
    margin-bottom: -53px;
    right: 80px;
  }
}

@media(max-width:768px) {
  .ew-discount-button-image-text {
    width: 200px;
    margin: auto;
  }

  .ew-discount-button-image2-wrap {
    display: flex;
    flex-direction: column;
  }
}

.ew-grid-section-columns {

  .flickity-slider,
  .flickity-slider {
    position: static !important;
    transition: none !important;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    transform: none !important;
  }

  .carousel__item,
  .carousel__item {
    width: 100%;
    position: static !important;
    transform: none !important;
    margin: 0 !important;
  }

  .flickity-enabled.is-draggable .flickity-viewport,
  .flickity-enabled.is-draggable .flickity-viewport {
    height: auto !important;
    touch-action: auto !important;
    cursor: pointer !important;
    overflow: auto !important;
  }

  .flickity-button,
  .flickity-button {
    display: none !important;
  }

  @media(max-width:768px) {

    .section-columns__slider,
    .section-columns__slider {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      overflow: auto !important;
      padding-right: 20px;
    }
  }
}

@media only screen and (min-width: 768px) {
    .nav {
        z-index: 999 !important;
    }
    /* .slide__text__container {
      z-index: 2;
    } */
}

@media(max-width:767px){
  .product__popup__content {
    padding:0 !important;
  }
  .size-chart-page table td {
    font-size: 14px !important;
  }
}